@keyframes showFromLeft {
    from {
        margin-left: -20px;
        opacity: 0.1;
    }
}

.topBar {
    border-radius: 0;
    margin-bottom: 0;
    
    h2 {
        margin: 0;
    }
    
    .navbar-brand {
        padding: 5px;
    }
    
    .heroName {
        animation: showFromLeft 0.3s ease-out;
    }
}