.stats-window {
    .stat-list {
        .stat-element {
            display: block;
            width: 100%;
            
            .stat-name {
                display: block;
                float: left;
                width: 45px;
                margin-right: 10px;
                text-align: right;
                
            }
            
            .stat-progress {

                .stat-progress-caption {
                    text-shadow: 1px 1px 1px #555;
                }
                     
            }
            
        }        
    }
    
    
    

    
}

