.stats-window {
    .stat-list {
             
    }
}
.abilities-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    
}



